.rmultiple {
	position: relative;

	input {
		position: absolute;
		overflow: hidden;
		left: 0;
		top: 0;
		outline: none;
		pointer-events: none;
	}

	input:first-of-type {
		position: relative;
	}

	input::-webkit-slider-thumb {
		position: relative;
		z-index: 1;
		outline: 0;
		pointer-events: all;
	}

	input::-moz-range-thumb {
		position: relative;
		z-index: 10;
		pointer-events: all;
	}

	input::-moz-range-track {
		position: relative;
		z-index: -1;
		background-color: rgba(0, 0, 0, .15);
	}

	input:last-of-type::-moz-range-track {
		-moz-appearance: none;
		background: none transparent;
	}
}
